.jumbotron {
    p {
        padding-left: @padding-large-horizontal * 3;
        padding-right: @padding-large-horizontal * 3;
    }

    h1 {
        padding-left: @padding-large-horizontal;
        padding-right: @padding-large-horizontal;
    }
}
