h1 {
    color: @dark-red;
    .text-shadow;
}

a {
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
}

.fluid-container {
    margin-left: 15px;
    margin-right: 15px;
}

