.navbar-brand {
    font-family:    'creepygirl';
    font-size:      @font-size-large * 3;
    margin-top:     15px;
    margin-bottom:  -15px;
    .text-shadow;    
}

#nav {

    .glyphicon {
        font-family:    'Permanent Marker', cursive;
    }

    li {
        & a:hover {
            background-color: @dull-red;
        }
    }
}



