.navbar-brand {
    font-family:    'creepygirl';
    font-size:      @font-size-large * 2;
    .text-shadow;
}

#nav {
    .glyphicon { font-family:    'Permanent Marker', cursive; }

    li {
        background-color: @theme-blue;
        border-top: @theme-red solid 1px;
        & a:hover,
        .selected {
            color: @theme-bright-red;
            background-color: @theme-red;
            .transition;
        }
    }
}

.navbar-form {
    margin-top: 0;
    margin-bottom: 0;
}

.reverse {
    color: @theme-blue;
}

.navbar-brand:hover .reverse,
.navbar-brand:focus .reverse {
    color: @theme-bright-red;
}
