.sidebar-content { padding-top: @padding-base-vertical; }

.tweet {
    line-height: @line-height-small;
    list-style-type: none;
}

.tweet-meta {
    min-height: 64px;
    padding-bottom: @padding-base-vertical;
    a {
        font-size: @font-size-large;
    }

    .tweet-meta-text { 
        display: inline-block;
        padding-left: @padding-base-horizontal;
        vertical-align: center;
        width: 55%; 
    }

    .tweet-time { 
        display: block;
        font-size: @font-size-base; 
    }
}

.tweet-content p { padding-left: @padding-base-horizontal; }
