.artist-link { font-size: @font-size-large; }

.artist { 
    clear: both;
    img {
        margin: @padding-base-vertical @padding-base-horizontal;
    }
}


.artist-meta {
    min-height: 200px;    
}
