#store-nav {
    .make-row();
    background: inherit;
    overflow: hidden;
    position: relative;

    ul {
        list-style: none;
        overflow: hidden;
        padding: 0 0 0 20px;
    }

    li {
        display: inline;
    }

    a {
        color: @cream;
        font-size: @font-size-large;
        padding: 12px 0;
        text-decoration: none;
        text-align: center;
        .make-sm-column(2);
        .make-xs-column(3);
        .transition(width 0.12s ease);
        .bottom-border;
    }


    a:hover span {
        border-bottom: 2px solid @theme-gray;    
    }

    #s-all {
        background: transparent;
    }

    #s-video {
        background: @theme-blue;    
    }

    #s-muzik {
        background: @theme-bright-red;    
    }

    #s-apparel {
        background: @theme-red;    
    }

    a.selected,
    a:hover,
    .navlinks:hover .selected:hover {
        .make-sm-column(6);
    }

    .navlinks:hover .selected {
        .make-sm-column(2);
    }
}

.muzik {
    background: @theme-bright-red; 
}

.apparel {
    background: @theme-red;    
}

.video {
    background: @theme-blue;    
}

.apparel #store-nav {
    border-bottom-color: @theme-red;    
}

#store-content {
    padding: @padding-base-vertical @padding-base-horizontal;
}

.product {
    .make-row();
    .bottom-border(@color: @theme-gray, @width: 2px);
}

#cart-contents {
    list-style: none;
}

#cart-header,
#cart-footer {
    .make-row();
}

.cart-item {
    .make-row();
    .bottom-border();
}

#cart-header h4,
#cart-footer h4,
.item-desc {
    .make-md-column(8);    
}

#cart-header h5,
#cart-footer h5,
.item-price {
    .make-md-column(4);    
}

.item-name {
    .side-padding();
}

#cart-total {
    color: @brand-primary;        
}
