//Custom Colors
@dark-red:              #6c0000;
@dull-red:              #963e3e;
@red:                   #ff0000;
@light-red:             #ff2b2b;
@pink:                  #ff4d4d;
@black:                 #000000;
@gray:                  #2b2b2b;
@white:                 #ffffff;

//Typography
@font-family-base:      'Permanent Marker', cursive;

//Brand colors
@brand-primary:         @dark-red;
@brand-success:         #5cb85c;
@brand-info:            @light-red;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

//Body Colors
@body-bg:               @black;
@text-color:            @gray;
@link-color:            @dark-red;
@link-hover-color:      @dull-red;

//Navbar Colors
@navbar-inverse-bg:                 @black;
@navbar-inverse-link-active-bg:     @dark-red;
@navbar-inverse-border:             @black;
@navbar-inverse-link-color:         @dark-red;
@navbar-inverse-link-hover-color:   @black;
@navbar-inverse-brand-hover-color:  @dull-red;

//Pills
@nav-pills-border-radius:   0;

//Components
@component-active-bg:   transparent;

//Forms
@input-border-focus:    @dark-red;

//Buttons
@btn-primary-color:     @text-color;

//Misc
@hr-border:             @dull-red;

//Jumbotron
@jumbotron-bg:          inherit;
@jumbotron-color:       inherit;
@jumbotron-padding:     0;
