//Article Photo
article.blog-photo
    h2.article-title.text-center: a(src="#") Check out the hoes that we gettin'.
    .article-body
        img.visible-lg.visible-md(src="http://placehold.it/400x400")
        img.visible-xs.visible-sm(src="http://placehold.it/200x200")
    .article-meta.text-right
        small.
            Date: 1/3/37 &bull;
            Author: <a src="#">Yo Mama</a> &bull;
            <a src="#">Share</a>
        //-
            Add Popovers to Share and Author
