//Article Music
article.blog-music
    h2.article-title.text-center: a(src="#") Listen to this new shit.
    .article-body
        audio.center-block(controls preload="auto")
            source(src="audio/stso.mp3" type="audio/mpeg")
            embed(src="audio/stso.mp3", width="400", height="125")
            p Use a grown-up browser to listen to this track
    .article-meta.text-right
        small.
            Date: 1/3/37 &bull;
            Author: <a src="#">Yo Mama</a> &bull;
            <a src="#">Share</a>
        //-
            Add Popovers to Share and Author
