//Artists
section.single-page
    article.artist
        img.artist-photo.pull-left(src="http://placehold.it/200x200")
        .artist-meta
            a.artist-link(src="#") TZ Montana
            p.artist-bio. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin a sapien ut ultricies. Nunc elementum dui iaculis ante gravida semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ipsum eros, tincidunt id auctor vitae, porta in mauris. Mauris vitae fermentum leo, id faucibus tortor. Phasellus laoreet leo odio, a consequat dolor placerat sed. Donec non felis at eros vehicula iaculis et eu eros. Donec egestas turpis et odio fermentum lobortis.
    article.artist
        img.artist-photo.pull-right(src="http://placehold.it/200x200")
        .artist-meta
            a.artist-link(src="#") Lucid
            p.artist-bio. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin a sapien ut ultricies. Nunc elementum dui iaculis ante gravida semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ipsum eros, tincidunt id auctor vitae, porta in mauris. Mauris vitae fermentum leo, id faucibus tortor. Phasellus laoreet leo odio, a consequat dolor placerat sed. Donec non felis at eros vehicula iaculis et eu eros. Donec egestas turpis et odio fermentum lobortis.
    article.artist
        img.artist-photo.pull-left(src="http://placehold.it/200x200")
        .artist-meta
            a.artist-link(src="#") (Other Dude)
            p.artist-bio. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin a sapien ut ultricies. Nunc elementum dui iaculis ante gravida semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ipsum eros, tincidunt id auctor vitae, porta in mauris. Mauris vitae fermentum leo, id faucibus tortor. Phasellus laoreet leo odio, a consequat dolor placerat sed. Donec non felis at eros vehicula iaculis et eu eros. Donec egestas turpis et odio fermentum lobortis.
    article.artist
        img.artist-photo.pull-right(src="http://placehold.it/200x200")
        .artist-meta
            a.artist-link(src="#") Jennie Andretti
            p.artist-bio. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin a sapien ut ultricies. Nunc elementum dui iaculis ante gravida semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ipsum eros, tincidunt id auctor vitae, porta in mauris. Mauris vitae fermentum leo, id faucibus tortor. Phasellus laoreet leo odio, a consequat dolor placerat sed. Donec non felis at eros vehicula iaculis et eu eros. Donec egestas turpis et odio fermentum lobortis.
