//Main Container
section#main.fluid-container
    //Main Content
    .row
        //Body
        .col-sm-8.page-main
        //Sidebar
        .col-sm-3.col-sm-offset-1.page-sidebar
            //Sidebar Header
            .page-header: h1.text-center News Stream
