// Start of content
body
    include header.jade
    //Primary Content
    section#main.fluid-container
        .row
            //Main
            .col-md-8.page-main
                include article.jade
            //Sidebar
            .col-md-3.col-md-offset-1.page-sidebar
                include sidebar.jade
    include footer.jade
    include scripts.jade
