// Start of content
body
    include header.jade
    //Primary Content
    section#main.fluid-container
        .row
            //Main
            #content.col-md-8
                include home.jade
            //Sidebar
            #sidebar.col-md-4
                include sidebar.jade
    include footer.jade
    include scripts.jade
