//Header
header(role="navigation")#header.navbar.navbar-inverse.navbar-fixed-top
    .fluid-container
        .row
            //Masthead
            .navbar-header.col-sm-6
                button(type="button" data-toggle="collapse" data-target="#navbar-collapse-1").navbar-toggle
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#") Compound Muzik
            .col-sm-4
            //Toggle
            .collapse.navbar-collapse#navbar-collapse-1
                //Search
                .col-sm-2
                    form.navbar-form.navbar-right(role="search")
                        .form-group
                            input.form-control(type="text" placeholder="Search")
                        button.btn.navbar-btn.btn-primary(type="button" ): span.glyphicon.glyphicon-search
                //Nav
                ul#nav.nav.nav-pills.nav-justified
                    li: a(id="home"): span.glyphicon.glyphicon-home &nbsp;&nbsp;Home
                    li: a(id="artist"): span.glyphicon.glyphicon-user &nbsp;&nbsp;Artists
                    li: a(id="store"): span.glyphicon.glyphicon-music &nbsp;&nbsp;Store
