#jPlayer-container.col-sm-4.pull-left.btn-toolbar
    #playerControls.btn-group
        button#prev.glyphicon.glyphicon-backward.navbar-btn.btn-info.btn
        button#pausePlay.glyphicon.glyphicon-play.navbar-btn.btn.btn-info
        button#next.glyphicon.glyphicon-forward.navbar-btn.btn.btn-info
    #playerMeta.btn-group
        button#current.navbar-btn.btn.btn-info &nbsp;&nbsp;Butts (0:31 - 3.27)
        button#playlist.navbar-btn.btn.dropdown-toggle.btn-info(data-toggle="dropdown")
            span.glyphicon.glyphicon-list
            span.sr-only Toggle Playlist Dropdown
        ul.dropdown-menu(role="menu")
            li: a.track Song x
            li: a.track Song x
            li: a.track Song x
