//Scripts
script(src="//code.jquery.com/jquery.js")
script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
script(src="js/ajaxify.js")
//Remove before Production
script(src="//localhost:35729/livereload.js")
