//Sidebar
include jPlayer.html
.page-header: h1.text-center News Stream
ul.sidebar-content
    //Live Feed
    li.tweet
        .tweet-meta
            a.tweet-img(href="#"): img(src="http://placehold.it/64x64")
            .tweet-meta-text
                a.tweet-author(href="#") @TZISCHRIST
                span.tweet-time
                    | (12 minutes ago)
        .tweet-content
            p "All kinds of butts and butts and butts and butts and butts"
    li.tweet
        .tweet-meta
            a.tweet-img(href="#"): img(src="http://placehold.it/64x64")
            .tweet-meta-text
                a.tweet-author(href="#") @COMPOUND_CEO
                span.tweet-time
                    | (2 hours ago)
        .tweet-content
            p "even more butts and butts and butts"
    li.tweet
        .tweet-meta
            a.tweet-img(href="#"): img(src="http://placehold.it/64x64")
            .tweet-meta-text
                a.tweet-author(href="#") @Lucid
                span.tweet-time
                    | (10 hours ago)
        .tweet-content
            p "We droppin' butts all day erry day"
