h1 Cart
p#cart-empty You have nothing in your cart
#cart-full
    #cart-header
        h4 Item
        h5 Price
    ul#cart-contents
    #cart-footer
        #cart-subtotal
            h4 Subtotal
            h5
        #cart-tax
            h4 Tax
            h5
        #cart-total
            h4 Total
            h5
