h1 Cart
p#cart-empty You have nothing in your cart
#cart-full
    #cart-header
        h4 Item
        h5 Price
    ul#cart-contents
        li.cart-item
            .item-desc
                a: span.glyphicon.glyphicon-remove
                span.item-name Single #1
            span.item-price $7.99
        li.cart-item
            .item-desc
                a: span.glyphicon.glyphicon-remove
                span.item-name Single #2
            span.item-price $5.99
        li.cart-item
            .item-desc
                a: span.glyphicon.glyphicon-remove
                span.item-name Single #3
            span.item-price $.99
    #cart-footer
        .cart-subtotal
            h4 Subtotal
            h5 $14.97
        .cart-tax
            h4 Tax
            h5 $1.67
        .cart-total
            h4 Total
            h5 16.64
