#content.col-md-8
    .jumbotron
            h1 [Put Carousel Here]
            p [Product Description]
            a [Product Link]
    .store-main
        article.store-category.row
            h2 [Category Title]
            article.store-product.col-xs-3
                img(src="http://placehold.it/150x150").hidden-xs
                img(src="http://placehold.it/75x75").visible-xs
                a: p [Product Title]
            article.store-product.col-xs-3
                img(src="http://placehold.it/150x150").hidden-xs
                img(src="http://placehold.it/75x75").visible-xs
                a: p [Product Title]
            article.store-product.col-xs-3
                img(src="http://placehold.it/150x150").hidden-xs
                img(src="http://placehold.it/75x75").visible-xs
                a: p [Product Title]
            article.store-product.col-xs-3
                img(src="http://placehold.it/150x150").hidden-xs
                img(src="http://placehold.it/75x75").visible-xs
                a: p [Product Title]
        article.store-category.row
            h2 [Category Title]
            article.store-product.col-xs-3
                img(src="http://placehold.it/150x150").hidden-xs
                img(src="http://placehold.it/75x75").visible-xs
                a: p [Product Title]
            article.store-product.col-xs-3
                img(src="http://placehold.it/150x150").hidden-xs
                img(src="http://placehold.it/75x75").visible-xs
                a: p [Product Title]
            article.store-product.col-xs-3
                img(src="http://placehold.it/150x150").hidden-xs
                img(src="http://placehold.it/75x75").visible-xs
                a: p [Product Title]
            article.store-product.col-xs-3
                img(src="http://placehold.it/150x150").hidden-xs
                img(src="http://placehold.it/75x75").visible-xs
                a: p [Product Title]
