#content.col-md-8
    .row.muzik
        #store-nav
            ul
                li: a.a-all(src="#") All
                li: a.a-muzik.selected(src="#") Muzik
                li: a.a-apparel(src="#") Apparel
