#content.col-sm-8
    #store.muzik
        #store-nav
            .navlinks
                a.a-all(src="#") All
                a.a-muzik.selected(src="#") Muzik
                a.a-apparel(src="#") Apparel
        #store-content
            .product
                img(src="http://placehold.it/200x200").col-sm-2
                .product-meta.col-sm-7
                    a Single #1
                    p [Price]
                    p [Long Description]
                .btn-group.btn-group-md.col-sm-3
                    button.btn.btn-default(type="button"): span.glyphicon.glyphicon-info-sign
                    button.btn.btn-default(type="button"): span.glyphicon.glyphicon-headphones
                    button.btn.btn-default(type="button"): span.glyphicon.glyphicon-shopping-cart
            .product
                img(src="http://placehold.it/200x200").col-sm-2
                .product-meta.col-sm-7
                    a Single #1
                    p [Price]
                    p [Long Description]
                .btn-group.btn-group-md.col-sm-3
                    button.btn.btn-default(type="button"): span.glyphicon.glyphicon-info-sign
                    button.btn.btn-default(type="button"): span.glyphicon.glyphicon-headphones
                    button.btn.btn-default(type="button"): span.glyphicon.glyphicon-shopping-cart
            .product
                img(src="http://placehold.it/200x200").col-sm-2
                .product-meta.col-sm-7
                    a Single #1
                    p [Price]
                    p [Long Description]
                .btn-group.btn-group-md.col-sm-3
                    button.btn.btn-default(type="button"): span.glyphicon.glyphicon-info-sign
                    button.btn.btn-default(type="button"): span.glyphicon.glyphicon-headphones
                    button.btn.btn-default(type="button"): span.glyphicon.glyphicon-shopping-cart
