#content.col-md-8
    .row.muzik
        #store-nav
            ul
                li: a.a-all(src="#") All
                li: a.a-muzik.selected(src="#") Muzik
                li: a.a-apparel(src="#") Apparel
        #store-content
            article.product
                img.pull-left(src="http://placehold.it/100x100")
                .btn-group.pull-right
                    button.btn.btn-default: span.glyphicon.glyphicon-info-sign
                    button.btn.btn-default: span.glyphicon.glyphicon-headphones
                    button.btn.btn-default: span.glyphicon.glyphicon-shopping-cart
                .product-meta
                    a.product-link Single #1
                    p [Price]
                    p [Long Description]
            article.product
                img.pull-left(src="http://placehold.it/100x100")
                .btn-group.pull-right
                    button.btn.btn-default: span.glyphicon.glyphicon-info-sign
                    button.btn.btn-default: span.glyphicon.glyphicon-shopping-cart
                .product-meta
                    a.product-link T-Shirt #1
                    p [Price]
                    p [Long Description]
