#store
    #store-nav
        .navlinks
            a#s-all(src="#") All
            a#s-video(src="#") Videos
            a#s-muzik(src="#") Muzik
            a#s-apparel(src="#") Apparel
    #store-content
