<!-- build:js public/js/main.js -->
script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
script(src="../js/ajaxify.js")
script(src="../js/jquery.jplayer.js")
script(src="../js/jPlayer.js")
<!-- endbuild -->
